<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Updater</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
				<key>dateExpires</key>
				<string>2/1/27</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>FlutterMacOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>desktop_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>desktop_window.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>path_provider_macos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_macos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5ED431C20902561D54A0B56B041DECBDC471B009</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>url_launcher_macos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TELQUP4TY8</string>
						<key>name</key>
						<string>Kevin moore</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<false/>
				<key>com.apple.security.files.downloads.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Updater.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TELQUP4TY8</string>
				<key>name</key>
				<string>Kevin moore</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
